// Global Control
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

// Home Page
body {
  background-color: black;
}
main {
  display: flex;
  height: 100vh;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  h1 {
    color: white;
    font-size: 5rem;
    margin-bottom: 20px;
  }
}

.link {
  color: black;
  background-color: white;
  padding: 10px 25px;
  border-radius: 35px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.2s;
  &:focus {
    box-shadow: 2px 2px 20px white;
    transition: 0.2s;
  }
  &:hover {
    box-shadow: 2px 2px 20px white;
    transition: 0.2s;
  }
}

iframe {
  width: 853px;
  height: 480px;
}

@media screen and (max-width: 768px) {
  iframe {
    width: 100%;
    height: auto;
  }
}
