* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 10000;
  -webkit-box-shadow: 2px 2px 10px #555555;
          box-shadow: 2px 2px 10px #555555;
}

#desktop {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  height: 12vh;
  z-index: 10000;
  margin: auto;
  background-color: black;
}

#desktop .logo {
  position: relative;
  font-weight: bold;
  font-size: 1.5rem;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-link {
  padding: 15px;
  font-weight: 500;
  font-size: 1rem;
}

.nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: white;
  display: block;
  margin-top: 2px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

#mobile {
  display: none;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-width: 768px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 2rem;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.sec-1_wrapper {
  background-color: white;
}

#sec-1 {
  height: 88vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
}

.text {
  -webkit-box-flex: 0.9;
      -ms-flex: 0.9;
          flex: 0.9;
}

.text h1 {
  color: black;
  font-size: 2.5rem;
}

.text p {
  color: #4d4747;
  font-size: 1.2rem;
  width: 70%;
  font-weight: 500;
  margin-top: 20px;
}

.sir_cutout img {
  width: 430px;
  position: relative;
  top: 7px;
  -webkit-filter: drop-shadow(1px 1px 10px #535353);
          filter: drop-shadow(1px 1px 10px #535353);
}

@media screen and (max-width: 768px) {
  .sir_cutout img {
    width: 100%;
    position: relative;
    top: 34px;
  }
}

.sec-2_wrapper {
  background: #000;
}

#sec-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.text_sec-2 {
  color: white;
  text-align: center;
}

.text_sec-2 h1 {
  font-weight: bold;
  font-size: 2.8rem;
}

.text_sec-2 p {
  margin: auto;
  margin-top: 20px;
  font-size: 17px;
  width: 80%;
  line-height: 1.8rem;
}

.sec-3_wrapper {
  background: #fff;
}

#sec-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
}

.text_sec-3 {
  color: black;
  width: 70%;
}

.text_sec-3 h1 {
  font-size: 2.8rem;
  font-weight: bold;
}

.text_sec-3 p {
  font-size: 17px;
  color: #272727;
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 20px;
  margin-bottom: 3rem;
  width: 70%;
}

.spl_logo {
  width: 35%;
  margin: auto;
}

.spl_logo img {
  width: 300px;
}

.btn {
  color: black;
  border: black 2px solid;
  border-radius: 0;
  padding: 10px 25px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: bold;
}

.btn:hover {
  background: #000;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer_wrapper {
  background: #000;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.footer_text {
  color: #fff;
}

.footer_text h4 {
  font-size: 1rem;
  font-weight: 500;
}

.footer_text h4 br {
  display: none;
}

.footer_text h4 a {
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 2px;
}

.footer_link {
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer_link:hover {
  color: #aaaaaa;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  footer {
    height: auto;
    padding: 2rem 0 2rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .sep {
    display: none;
  }
  .footer_text h4 br {
    display: block;
  }
  .footer-links {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  #desktop {
    display: none;
  }
  #mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }
  #sec-1,
  #sec-2,
  #sec-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 30px 0px 30px 0px;
    text-align: center;
  }
  .text p {
    width: 100%;
  }
  #sec-2 {
    padding: 3rem 0 3rem 0;
  }
  .text_sec-3 {
    width: 100%;
  }
  .text_sec-3 p {
    width: 100%;
  }
  .spl_logo {
    width: 100%;
  }
  .spl_logo img {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */